<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Column Fragment -->
<div th:fragment="task-column(title, status, color)">

        <div th:classappend="'column-header bg-' + ${color}" class="p-2 rounded-top">
            <h5 class="m-0" th:text="${title}"></h5>
        </div>
        <div class="column-body border p-3 rounded-bottom" style="min-height: 70vh; overflow-y: auto;">
            <div th:each="task : ${allTasks}"
                 th:if="${task.status == status}">
                <!-- Reusable task card -->
                <div class="card mb-3">
                    <div class="card-body" th:data-task-id="${task.id}" onclick="openTask(this)">
                        <h6 th:text="${task.title}"></h6>
                        <span th:text="${task.priority?.name()}"
                              th:classappend = "${task.priority == taskPriority.MINOR}? 'bg-secondary':
                              (${task.priority == taskPriority.NORMAL}? 'bg-info':
                              (${task.priority == taskPriority.CRITICAL}? 'bg-warning': 'bg-danger'))"
                        class="badge rounded-pill priority-badge">


                        </span>

                        <div class="assignee-row">
                            <span th:if="${task.assignedTo != null}"
                                th:text="${task.assignedTo.firstName +' '+ task.assignedTo.lastName}"
                                class="assignee-text"></span>
                            <span th:unless="${task.assignedTo != null}"
                                  th:text="'Task is unassigned'"
                                  class="assignee-text"></span>
                            <div class="button-container">
                                <form th:if ="${(task.status == TaskStatus.TODO || task.status == TaskStatus.BACKLOG) && (task.assignedTo == null || task.assignedTo.id == currentUserId)}" th:action="@{'/tasks/' + ${task.id} + '/accept'}" method="post">
                                    <button type="submit" th:text="Accept" class="btn-accept"></button>
                                </form>
                                <form th:if ="${(task.status == TaskStatus.IN_PROGRESS || task.status == TaskStatus.OVERDUE)&& task.assignedTo.id == currentUserId }" th:action="@{'/tasks/' + ${task.id} + '/complete'}" method="post">
                                    <button type="submit" th:text="Complete" class="btn-complete"></button>
                                </form>
                            </div>
                        </div>

                        <p class="card-text" th:text="${task.description}"></p>
                        <small class="text-muted"
                            th:text="${task.dueDate != null} ? ${#temporals.format(task.dueDate, 'MMM dd')}: 'No due date'">
                        </small>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>