<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="badge-container" class="d-flex gap-2" id = "badge-container">
    <span th:switch="${currentTask.status}">
        <span th:case="${taskStatus.TODO}" class="badge align-self-start bg-info fs-6 py-2"
              th:text="${currentTask.status}"></span>
        <span th:case="${taskStatus.BACKLOG}" class="badge align-self-start bg-secondary fs-6 py-2"
              th:text="${currentTask.status}"></span>
        <span th:case="${taskStatus.IN_PROGRESS}" class="badge align-self-start bg-warning fs-6 py-2"
              th:text="${currentTask.status}"></span>
        <span th:case="${taskStatus.OVERDUE}" class="badge align-self-start bg-danger fs-6 py-2"
              th:text="${currentTask.status}"></span>
        <span th:case="${taskStatus.DONE}" class="badge align-self-start bg-success fs-6 py-2"
              th:text="${currentTask.status}"></span>
    </span>

    <div class="dropdown d-inline-block">
        <span class="badge align-self-start fs-6 py-2 dropdown-toggle cursor-pointer"
              id="priorityDropdown"
              data-bs-toggle="dropdown"
              th:classappend = "${currentTask.priority == taskPriority.MINOR}? 'bg-secondary':
              (${currentTask.priority == taskPriority.NORMAL}? 'bg-info':
              (${currentTask.priority == taskPriority.CRITICAL}? 'bg-warning': 'bg-danger'))">
            <span th:text="${currentTask.priority}"></span>
        </span>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item"
                   th:each="priority : ${taskPriority.values()}"
                   th:classappend="${priority == currentTask.priority} ? 'active'"
                   th:text="${priority}"
                   th:data-task-id="${currentTask.id}"
                   th:data-priority = "${priority}">
                </a>
            </li>
        </ul>

    </div>



</div>
</body>
</html>